<head>
	<title>Evaluacion de taller de Git</title>
</head>
<body>
	<h1>Listado de alumnos</h1>	
	<table>
		<tr>
  			<td><strong>nombre</strong></td>
  			<td><strong>cedula</strong></td>
  			<td><strong>observaciones</strong></td>
		</tr>

		<tr>
  			<td>martin rueda</td>
  			<td>25847860</td>
  			<td>alumno de git</td>
		</tr>
	</table>
</body>
